.Landing {
  text-align: center;
  overflow-x: hidden; 
  overflow-y: hidden;
  margin: 0;
}

.spiral {
  min-height:120vh;
  min-width: 120vw;
  pointer-events: none;
  position:fixed;
  z-index:1;
}

@media (prefers-reduced-motion: no-preference) {
  .spiral {
    animation: spiral-spin infinite 10s linear;
  }
}

.Landingheader {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7a0b12;
  z-index:0;
}

.Landingheader h1{
  z-index:2;
}

@keyframes spiral-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
