.Landing {
  text-align: center;
  overflow-x: hidden; 
  overflow-y: hidden;
  margin: 0;
}


.LandingContainer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  z-index:0;
}


.spiral {
  min-height:120vh;
  min-width: 120vw;
  pointer-events: none;
  position:fixed;
  z-index:1;
}

.skull {
  height:10vh;
  pointer-events: none;
  z-index:1;
}



@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spiral-spin infinite 6s ease-in;
  }
  .grow {
    animation: skull-grow 3s ease-in;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;  
  }
}

.LandingTextContainer{
  z-index:2;
  text-align: center;
  align-items: center;
}
.Title1{
  color: #7a0b12;
  font-size: calc(50px + 6vmin);
  text-shadow: 4px 4px #ffffff;
}

@keyframes spiral-spin {
  0%{transform: rotate(1440deg);}
  100%{transform: rotate(0deg);}
}

@keyframes skull-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }

}

.EnterButton{
  font-size: calc(10px + 5vmin);
  background-color: #7a0b12;
  border-radius: 5px;
  padding: 5px;
  color:white;
  border: none;
  border-bottom: solid 3px #44070b;
  cursor: pointer;
}