.Landing {
  text-align: center;
  overflow-x: hidden; 
  overflow-y: hidden;
  margin: 0;
}


.LandingContainer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  z-index:0;
}


.spiral {
  min-height:120vh;
  min-width: 120vw;
  pointer-events: none;
  position:fixed;
  z-index:1;
}

@media (prefers-reduced-motion: no-preference) {
  .spiral {
    animation: spiral-spin infinite 10s linear;
  }
}

.TextContainer{
  z-index:2;
  position: fixed;
}
.Title1{
  color: #7a0b12;
  font-size: calc(50px + 6vmin);
  text-shadow: 4px 4px #ffffff;
}

@keyframes spiral-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.EnterButton{
  font-size: calc(10px + 5vmin);
  background-color: #7a0b12;
  border-radius: 5px;
  padding: 5px;
  color:white;
  border: none;
  border-bottom: solid 3px #44070b;
  cursor: pointer;
}